/*
 * Primary Color: #E9D4C2 #B1A59B #9B6B43 #F4E3D5 #F4E8DE
 * Secondary Color: #748C8C #5D6A6A #285D5D #ADC5C5 #B3C5C5
 */

@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Varela);
/*@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
*/
@import url('http://fonts.googleapis.com/css?family=Cutive');

@import url("markdown.css");
@import url("square_blox.css");
/* @import url("sizes.css"); */

/* Put a small padding on the top
*/
body {
  font-family: 'Varela', Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0 0 30px 10px;
  
//  background:url('/static/img/decor/small-x-grey90-8x8rgb72dpi.png') repeat;   
  background:url('/static/img/decor/small-x-bg-8x8rgb72dpi.png') repeat;  
  
}


/* Major encompassing block including header, center and footer
*/
div#wrapper {
/*Centers in the middle with auto margin. Width was 800px */
  margin-left: auto;
  margin-right: auto;
/*  width: 900px; */
  width: 100%;
}	


/* main area within header and footer */
div#center {
	width: auto;
}

/* Push on bottom with clear */
div#footer {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  clear: both;
  text-align: center;
  margin: 10px 0 0 0;
  font-size: .8em;
}
	#footer ul li {
	   display: inline;
	   list-style: none;
	   margin:0 5px 0 5px;	
	}

#powered-by {
	display: none;
}

a {
  color: #748C8C;
  text-decoration: none;
//  cursor: url('/static/img/decor/ls_cursor_wht15x15rgb72dpi.png'), auto;
}


/* Page Navigation
Float on top with relative position and z-index
*/
#page-navigation {
  clear: both;
  position: relative;
  top: -150px;
  text-align: center;
  z-index:999;
}
    #page-navigation #prev {
    	float: left;
    	position: relative;
    	left: -80px;
    }
    #page-navigation #next {
  		float: right;
		position: relative;
    	left: 50px;
    }


/* Debug remove */
/*
  * { outline: 2px dotted red }
  * * { outline: 2px dotted green }
  * * * { outline: 2px dotted orange }
  * * * * { outline: 2px dotted blue }
  * * * * * { outline: 1px solid red }
  * * * * * * { outline: 1px solid green }
  * * * * * * * { outline: 1px solid orange }
  * * * * * * * * { outline: 1px solid blue }
*/