/*
 * Primary Color: #E9D4C2 #B1A59B #9B6B43 #F4E3D5 #F4E8DE
 * Secondary Color: #748C8C #5D6A6A #285D5D #ADC5C5 #B3C5C5
 */
 
@import url("home.css");

.rank-post {
	min-width: 410px;
	max-width: 820px;
	width: 50%;
	min-height: 370px;	/* 370px? */
	margin: 0px 10px 10px 0px;			
}
	.rank-post div.content {
		margin: 2px 0 0 6px;
	}

.rank-mini {
  min-width: 89px;
  min-height: 89px;
  margin: 0px 10px 10px 0px;				
}
	.rank-mini .contents {
		margin: 22px auto;
		align: center;
	}
	


/* Float all images on the single post page
*/
p img {
    margin-right: 9px;
    margin-top: 9px;
}
