/*
 * Primary Color: #E9D4C2 #B1A59B #9B6B43 #F4E3D5 #F4E8DE
 * Secondary Color: #748C8C #5D6A6A #285D5D #ADC5C5 #B3C5C5
 */
 
@import url("home.css");

body {
  font-family: 'Duru Sans', sans-serif;
  font-size: 1em;	
}


.post {
  width: 90%;
  margin: 30px 0; 
  
  outline: 1px solid black;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.post-title {
  font-size: 1.4em;	
  color: black;
  float: left;
  margin: 0 0 10px 0;
}

.post-date, .post-author {
	display:none;
}

.post-body {
  clear: both;
}