/*
 * Primary Color: #E9D4C2 #B1A59B #9B6B43 #F4E3D5 #F4E8DE
 * Secondary Color: #748C8C #5D6A6A #285D5D #ADC5C5 #B3C5C5
 */
 
@import url("home.css");


#post.blox {
	border: 1px none;
}

div#header {
	width: 420px;	
}

/* main area within header and footer */
div.column {
	width: 420px;	/* That is 410 blox + 2 1px borders */
	float:left;
	overflow: hidden;
	margin: 0 2px 0 0;	
	min-height: 100%;
}

div#middle {
	height: 1;	
}


/* Navigation for social media, comm, etc in a blox
*/
div#nav {
	font-family: 'Jura', Helvetica, Arial, sans-serif;
	font-size: .95em;
	background: none;
	border: 1px none;
	float: left;
}

/* Float all images on the single post page
*/
p img {
	margin: 4px;
}


/*
z-index: 2 or 1??
 
  -moz-transform: translate(500px, 500px) scale(0.002);
  
  -moz-transform: translate(500px, 500px) scale(0.002);
  
  .isotope-item {
    -moz-transition-property: -moz-transform, opacity;
    
    
  .isotope-item {
    -moz-transition-duration: 0.3s;
*/
