/* 

*/

/* The following size needs 412 w x 327 h (change graphics)
 OR use 199 x 179 for smaller  */
 
/* Images are 45 px smaller in height, but same in width */

.rank-0 {
  width: 199px;
  height: 179px;	
}

.rank-1 {
  width: 199px;
  height: 370px;	/* 370px? */	
}

.rank-2 {
  width: 410px;
  height: 179px;
}

.rank-3 {
	width: 410px;
	height: 370px;	/* 370px? */
}

.blox .footer {
	display: none;	
}

/*
.rank-0 .content, .rank-2 .content {
	height: 124px;
}

.rank-1 .content, .rank-3 .content {
	height: 325px;
}
*/