/* 

*/

/* The following size needs 412 w x 327 h (change graphics)
 OR use 199 x 179 for smaller  */
 
/* Images are 45 px smaller in height, but same in width */

.rank-0 {
  width: 199px;
  height: 179px;	
  margin: 0px 10px 10px 0px;
}

.rank-1 {
  width: 199px;
  height: 370px;	/* 370px? */	
  margin: 0px 10px 10px 0px;
}

.rank-2 {
  width: 410px;
  height: 179px;
  margin: 0px 10px 10px 0px;	
}

.rank-3 {
	width: 410px;
	height: 370px;	/* 370px? */
	margin: 0px 10px 10px 0px;	
}

