/* 

*/

/*
.width-1, .width-2, .width-3, .width-4, .width-5 {
	width: 180px;
}

.width-6, .width-7, .width-8, .width-9, .width-10 {
	width: 180px;	
}

.height-1, .height-2, .height-3, .height-4, .height-5 {
	height: 200px;	
}

.height-6, .height-7, .height-8, .height-9, .height-10 {
	height: 400px;	
}
*/

/* The following size needs 412 w x 327 h (change graphics)
 OR use 199 x 179 for smaller  */
 
/* Images are 45 px smaller in height, but same in width */

/* Sizes for home */
#home .rank-0 {
  width: 199px;
  height: 179px;	
  margin: 0px 10px 10px 0px;
}

#home .rank-1 {
  width: 199px;
  height: 370px;	/* 370px? */	
  margin: 0px 10px 10px 0px;
}

#home .rank-2 {
  width: 410px;
  height: 179px;
  margin: 0px 10px 10px 0px;	
}

#home .rank-3 {
  width: 410px;
  height: 370px;	/* 370px? */
  margin: 0px 10px 10px 0px;	
}

/* Images show on loop */

.img-0 {
    background : url("/static/img/Loudspring/Loudspring_1.png") left no-repeat;
}

.img-1 {
	background : url("/static/img/Loudspring/Loudspring_2.png") left no-repeat;	
}

.img-2 {
	background : url("/static/img/Loudspring/Loudspring_3.png") left no-repeat;	
}

.img-1 {
	background : url("/static/img/Loudspring/Loudspring_4.png") left no-repeat;	
}

